@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=UnifrakturMaguntia&display=swap");

/* TODO: Ordenar las clases en diferentes archivos para ordenarlos */

/* Clase para aplicar la tipografia */
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Propiedades personalizadas (variables) */
:root{
  --font-family-titulos:"UnifrakturMaguntia", cursive;
  --font-family-texto: "Cinzel", serif;
  --color-fondo: #999999;
}

/* Elementos HTML */
html,body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;          
  scrollbar-color: #252525 #f2e9e430;
}

/*Estilo para boton de inicio*/
/*Se usa en partidas.html, y perfilUsuario.html*/
.home-link {
  display: block;
  padding: 8px 16px;
  width: fit-content;
  margin: 20px auto;
}

/*Global*/
/*Se usa en varias paginas*/
.boton:hover, .ver-detalle:hover, .link-volver:hover, .boton-guardar:hover{
  background-color:var(--color-tarjeta);
}


/*Global*/
/*Se usa en todas las paginas*/
.tarjeta {
  background-color: #f2e9e430;
  /* los ultimos dos digitos en hex son el porcentaje de transparencia*/
  padding: 20px;
  border: 1px solid var(--color-borde);
  border-radius: 8px;
  width: clamp(300px, 97vw, 1200px);
  margin: 0 auto 5px;

  font-family: var(--font-family-texto);
}

.paginas{
  background-color: var(--color-fondo);
}

/*Se va a usar en varias paginas*/
input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--color-borde);
  border-radius: 5px;
  font-family: "Cinzel", serif;
  background-color: #e1e1e1;
}

/*Se va a usar en varias paginas*/
.link-volver {
  display: block;
  width: fit-content;
  margin: 35px auto 35px; 
  padding: 8px 16px;

  background-color: #252525;
  color: #fff;
  /* Texto */
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-family: var(--font-family-texto);
  transition: background-color 0.3s ease;

}

/*------------------------------------------------------------------*/

/*perfilUsuario*/
ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Estilo para mostrar la foto de perfil en el link al perfil */
.foto_perfil {
  display: block;
  width: clamp(36px, 7vw, 70px);
  height: clamp(36px, 7vw, 70px);
  margin: 0 auto;
  object-fit: scale-down;
  border-radius: 50%;
}


.columnas {
  display: flex;
  gap: 20px;
}

.tarjeta_usuario{
  text-align: center;
}

.inventario{
  text-align: center;
}
